<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="parts/head"></head>
<body>
	<header th:replace="parts/header"></header>
	<main>
		<article>
			<h2 th:text="${pageTitle}"></h2>
			<table border="1">
				<tr>
					<th>商品番号</th>
					<th>商品カテゴリ</th>
					<th>商品名</th>
					<th>価格</th>
				</tr>
				<tr th:each="item : ${items}">
					<td th:text="${item.id}"></td>
					<td th:text="${item.categoryCode}"></td>
					<td th:text="${item.name}"></td>
					<td th:text="${item.price} + '円'"></td>
				</tr>
			</table>
			<div><a href="/">トップページに戻る</a></div>
		</article>
	</main>
	<footer th:replace="parts/footer"></footer>
</body>
</html>